<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xueda.food.auth.dao.AuthUserDetailsMapper">
    <select id="findByUserName" resultType="AuthUserDetails">
        SELECT id,name,password,is_lock FROM auth_users where name=#{username} and deleted_at is NULL
    </select>
</mapper>